<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Wardobe Indonesia</title>
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-dark" style="background-color: #C6E385">
  <div class="navbar-brand">
    <a href="#" class="text-light font-weight-bold">OWI</a>
  </div>
  <div>
    <a href="aboutus.php" class="text-light m-1">Our Story</a>
    <a href="login.php" class="text-light m-1">Login</a>
    <a href="register.php" class="bg-light p-2 rounded font-weight-bold" style="color: #C6E385"> Get Started </a>
  </div>
</nav>
<div class="card bg-dark text-white">
  <img class="card-img" src="" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
</body>
</html>